*{
    font-family: Arial, Helvetica, sans-serif;
   }
    p{
        font-family: Arial;
        margin-bottom: 0px;
        margin-top:0px;
    }
    img{
        vertical-align: top;
        width: 100%;    
        object-fit: contain;
        cursor: pointer;
    }  
    .videoPreview{
        width: 300px;
        display: inline-block;
        vertical-align: top;
        margin-right: 15px; 
    }

    .videoTitle{
        font-weight: bold;
        margin-bottom: 8px;
        font-size: 14px;
    }
    .videoAuthor , .videoStats{
        margin-bottom: 6px;
        font-size: 12px;
        color: rgb(76, 76, 76);
    }
   .channelPfp{
    display: inline-block;
    width: 42px;
    vertical-align: top;
   }
   .pfp{
    border-radius: 50px;
    width: 37px;
    vertical-align: top;
    cursor: pointer;
   }
   .videoStats{
    display: inline-block;
    width: 240px;
   }
   .videoInfo{
    display: grid;
   }
   .videoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   }
   .videoTime{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: black;
    color: white;
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom:4px ;
    padding-left: 4px;
    padding-right: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
   }
   .thumbnailRow{
    position: relative;
    margin-bottom: 8px;
   }
   .thumbnailRow img{
    border-radius: 10px;
   }

   /*header styling*/
   .header{ 
    display: flex;
    flex-direction: row;
    height: 55px;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    background-color: white;
    border-bottom-style:solid ;
    border-bottom-width:2px ;
    border-bottom-color:rgb(223, 223, 223) ;
    z-index: 100;
    align-items: center;
   }
   /*left section of the header*/
   .left{
    margin-right: 80px;
    display: flex;
    align-items:center;
   }
   .humMenu{
    width: 20px;
    margin-left: 15px;
    margin-right: 14px;
    border-radius: 30px;
    padding: 6px;
   }
   .humMenu:hover{
    background-color: lightgray;
   }
   .logo{
    width: 90px;
   }
   /*middle section of the header*/
   .middle{
    display: flex;
    flex: 1;
    margin-right: 50px;
    max-width: 600px;
    align-items: center;
   }
   .searchBarContainer{
    position: relative;
   }
   .searchBar{
        display: block;
        height: 28px;
        width: 410px;
        border-radius: 30px;
        border-color: lightgray;
        border-style: solid;
        padding-right: 125px;
    }
    .searchButton{
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 55px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-style: solid;
        border-color: lightgray;
        padding-left: 15px;
        padding-right: 15px;
        cursor: pointer;
    }
    .micContainer{
        position: relative;
        width: 25px;
        margin-left: 18px;
        border-radius: 20px;
        background-color: rgb(235, 235, 235);
        padding: 5px;
    }
    .micContainer:hover{
        background-color: lightgray;
    }
    .micContainer:hover .tooltip{
        visibility: visible;
    }

    /*right section of the header*/
   .right{  
    display: flex;
    width: 150px;
    align-content: space-between;
    column-gap: 20px;
    align-items: center;
   }
    .notificationContainer,
    .pfpContainer,
    .createContainer{
    position: relative;
   }
   .tooltip{
    position: absolute;
    background-color: gray;
    color: white;
    font-size: 11px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: -30px;
    padding: 4px;
    visibility: hidden;
    text-align: center;
   }
    .notificationContainer:hover{
    background-color: lightgray;
    border-radius: 15px;
   }
   .notificationContainer:hover .tooltip,
   .pfpContainer:hover .tooltip,
   .createContainer:hover .tooltip{
    visibility: visible;
   }
   .right img{
    width: 28px;
    cursor: pointer;
   }
   .notificationCount{
    position: absolute;
    background-color: rgb(215, 0, 0);
    border-radius: 150px;
    width: 15px;
    height: 15px;
    text-align: center;
    color: white;
    font-size: 11px;
    top: 0px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   /*sidebar styling*/
   .sidebar{
    position: fixed;
    left: 0px;
    bottom: 0px;
    top: 55px;
    width: 63px;
    border-right-color:rgb(239, 239, 239) ;
    border-right-style:solid ;
    z-index: 200;
    background-color: white;
   }
   .sidebar div:hover{
    background-color: rgb(206, 206, 206);
   }
   .sidebar img{
    height: 24px;
    margin-bottom: 6px;
   }
   .sidebar div{
    font-size: 10px;
   } 
   .icons{
    height: 67px;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border-radius: 10px;
   }
   